.active {
    background-color: #083e70 !important;
    border-bottom: 1px solid rgba(148, 146, 146, 0.579) !important;
}

.btn-custom {
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}

.circular-image {
    width: 200px;
    height: 200px;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.img-circle {
    width: 50px;
        height: 50px;
        max-width: 50px;
        border-radius: 50%;
        object-fit: cover;
}

.content-container {
    margin-top: 50px;
}

.pagination .page-item.active .page-link {
    background-color: #FFC107;
    color: #000000;

}

.pagination .page-item.active .page-link:hover {
    background-color: #3f99ed49;
    color: #000000;
}

.left-profile-card .user-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.left-profile-card h3 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
}

.left-profile-card p {
    margin-bottom: 5px;
}

.left-profile-card .progress-bar {
    background-color: var(--main-color);
}

.personal-info {
    margin-bottom: 30px;
}

.personal-info .personal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.personal-list li {
    margin-bottom: 5px;
}

.personal-info h3 {
    margin-bottom: 10px;
}

.personal-info p {
    margin-bottom: 5px;
    font-size: 14px;
}

.personal-info i {
    font-size: 15px;
    color: var(--main-color);
    ;
    margin-right: 15px;
    width: 18px;
}


.right-profile-card .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--main-color);
}

.right-profile-card .nav>li {
    float: left;
    margin-right: 10px;
}

.right-profile-card .nav-pills .nav-link {
    border-radius: 26px;
}

.right-profile-card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.right-profile-card h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.right-profile-card i {
    font-size: 15px;
    margin-right: 10px;
}

.right-profile-card .work-container {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding: 10px;
}